@charset "utf-8";
body{
		margin:0px;
		padding:0px;
	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}

#main{
	width:100%;
	height:100vh;
	box-sizing: border-box;
	background-color: #edf1fd;
}
nav{
	display:flex;
	justify-content: space-between;
	align-items:center;
	text-transform:uppercase;
	font-weight:600;
	color:#fff;
	letter-spacing:2px;
	font-family:calibri;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	box-sizing:border-box;
	padding:10px 50px;
	background-color:#000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05);
}
.menu{
	display:flex;
}
.menu li a{
	padding:10px 15px;
	color:#6c707c;
	font-size:24px;
}

.menu li a:hover, .active{
	background-color:#292929;
	color:#FFFFFF;
	font-weight:700;
	transition:all ease 0.4s;
}
.slidershow{
	width:700px;
	height:400px;
	overflow:hidden;
}
.middle{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.navigation{
	position:absolute;
	bottom:20px;
	left:50;
	transform:translate(-50%);
	display:flex;
}
.bar{
	width:50px;
	height:10px;
	border:2px solid #fff;
	margin:6px;
	cursor:pointer;
}

li a, .dropbtn {
  display: inline-block;
  color: navyblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: navyblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size:12px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size:12px;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
  font-size:12px;
  font-family:calibri;
}
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}


	
